<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dft</title>
</head>
<body>
  <% if (title) { %>
    <h1><%= title %>!</h1>
  <% } %>
  <form action="/" method="POST">
    <textarea name="first" id="first" cols="30" rows="10" placeholder="first text"></textarea>
    <textarea name="second" id="second" cols="30" rows="10" placeholder="second text"></textarea>
    <br>
    <input type="submit" value="押下">
  </form>
  <input type="submit" value="クリア">
</body>
</html>